/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Dec 13, 2020, 8:51:35 PM
    Author     : Admin
*/



    
#vedat{
    -fx-background-color:yellow;
    -fx-pref-height:150px;
    -fx-pref-width:150px;
    -fx-margin: 10px 10px 10px 10px;
    -fx-font-size:18px;
    -fx-font-weight:bold;
    -fx-border-color:mediumblue;
}
#isbook{
    -fx-background-color:red;
    -fx-pref-height:150px;
    -fx-pref-width:150px;
    -fx-margin: 10px 10px 10px 10px;
    -fx-font-size:18px;
    -fx-font-weight:bold;
    -fx-border-color:mediumblue;
}
#isnotbook{
    -fx-background-color: cornflowerblue;
    -fx-pref-height:150px;
    -fx-pref-width:150px;
    -fx-padding: 10px 10px 10px 10px;
    -fx-font-size:18px;
    -fx-font-weight:bold;
    -fx-border-color:mediumblue;
}
#isnotbook:hover{
    -fx-background-color:aquamarine;
}
#isbook:hover{
    -fx-background-color:aquamarine;
}
